<div class="user-details">
  <h1> Services </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech tech-1">
      <div class="tech-ico">
        <img src="/assets/img/ico-1.svg">
      </div>
      <h2 class="tech-title">Web Development</h2>
      <p>TThe user always comes first. Security is not a feature. Tools are your friend. Build for a multi-screen world. Understand the importance of architecture.</p>
    </div>
    <div class="tech tech-2">
      <div class="tech-ico">
        <img src="/assets/img/ico-2.svg">
      </div>
      <h2 class="tech-title">Database Development</h2>
      <p>You will always get a database system that is optimized for performance and efficiency, is a cost effective solution and is scaled for your current and future needs.</p>
    </div>
    <div class="tech tech-3">
      <div class="tech-ico">
        <img src="/assets/img/ico-3.svg">
      </div>
      <h2 class="tech-title">Algorithmic
        Trading</h2>
      <p>Our tools and strategies are built to think like a market maker, backed by world-class quantitative analytics and an unwavering commitment to technological innovation.</p>
    </div>
    <div class="tech tech-4">
      <div class="tech-ico">
        <img src="/assets/img/ico-4.svg">
      </div>
      <h2 class="tech-title">Post-trading
        Solutions</h2>
      <p>Our back office post-trade-processing solution designed to support operations of proprietary trading firms. We can import data from all of your execution providers.</p>
    </div>
    <div class="tech tech-5">
      <div class="tech-ico">
        <img src="/assets/img/ico-5.svg">
      </div>
      <h2 class="tech-title">Blockchain
        Techology</h2>
      <p>We integrate blockchain with legacy technology for interoperability, monitoring exception management and alerting of blockchain events.</p>
    </div>
    <div class="tech tech-6">
      <div class="tech-ico">
        <img src="/assets/img/ico-6.svg">
      </div>
      <h2 class="tech-title">CRM / ERP
        Systems</h2>
      <p>Development of Customer Relationship Management (CRM) systems and features for automation of the customer lifecycle journey.</p>
    </div>
</div>


