<div class="user-details">
  <h1> Contact US </h1>
</div>
<div class="form">
  <div class="form-wrap">
    <form>
      <input type="text" placeholder="E-mail">
      <textarea placeholder="Message…"></textarea>
      <input class="form-button" type="button" value="SEND MESSAGE">
    </form>
  </div>
  <div class="form-txt">
    <ul>
      <li>832 E Rand Rd STE 20 Mount Prospect, IL 60056, USA</li>
      <li>Украина, г. Киев, ул. Жилянская 75, БЦ Евразия, 10 этаж</li>
      <li>+1 (646) 854-8939</li>
    </ul>
  </div>
</div>