<div class="user-details">
  <h1> Contact US </h1>
</div>
<div class="form">
  <div class="form-wrap">
    <form action="https://formspree.io/ostapov@itadviser.org"
      method="POST">
      <input type="text" name="_replyto" placeholder="E-mail">
      <textarea name="message" placeholder="Message…"></textarea>
      <input class="form-button" type="submit" value="SEND MESSAGE">
    </form>
  </div>
  <div class="form-txt">
    <ul>
      <li>368 Country Club dr, Prospect Heights, IL 60070, USA</li>
      <li>Украина, г. Киев, ул. Коновальца 36д, БЦ Волна</li>
      <li>+1 (305) 447-7290</li>
    </ul>
  </div>
</div>
